%p
  = link_to user_path comment.user do
    = display_user_avatar(comment.user, 40, 40)
  = link_to user_path comment.user do
    = comment.user.name
%p
  = comment.content
  - if comment.user == current_user
    = link_to "削除", post_comment_path(post_id: @post.id, id: comment.id), method: :delete