.list-group
  - posts.each do |post|
    = link_to(post, class: 'list-group-item') do
      %h4
        = post.title
      = image_tag('like_icon_green.svg', size: '20x20')
      = post.likes_count
      .date
        = l(post.created_at, format: :long)
  = paginate posts