.card.col-md-5.mx-auto.mt-5.mb-3
  .card-body
    %h2.mt-1.mb-3 パスワード再設定用メール
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email, 'メールアドレス', class: 'form-label'
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .actions
        = f.submit "メール発行", class: 'btn btn-primary btn-block'
    = render "users/shared/links"
