.container.mt-2
  = form_for post do |f|

    -if f.object.errors.any?
      #error_explanation
        .alert.alert-danger
          入力内容に不足があります
      %ul
        - f.object.errors.full_messages.each do |msg|
          %li
            = msg


    = f.label :title, 'タイトル'
    = f.text_field :title, class: 'form-control'

    = f.label :tag_list, 'タグ (Rails,Git,MySQL, ...)'
    = f.text_field :tag_list, value: post.tag_list.join(','), class: 'form-control'

    = f.label :content, '本文 (Markdown)'
    = f.text_area :content, class: 'form-control', id: 'simplemde', rows: '5'
      
    = f.submit '投稿',  class: 'btn btn-primary float-right mb-4'

  - if local_assigns[:edit_flag].present?
    - if current_user == post.user
      #{button_to "記事削除", post_path, data: { confirm: "本当に削除しますか？" }, method: :delete, class: 'btn btn-danger float-left mb-4'}

%script
  const mde = new SimpleMDE({
  element: document.getElementById("simplemde")
  });