.container 
  = form_for post do |f|

    -if f.object.errors.any?
      #error_explanation
        .alert.alert-danger
          The form contains error.
      %ul
        - f.object.errors.full_messages.each do |msg|
          %li
            = msg


    = f.label :title
    = f.text_field :title, class: 'form-control'

    = f.label :content, 'Content (Markdown)'
    = f.text_area :content, class: 'form-control', id: 'simplemde', rows: '5'
      
    = f.submit 'submit',  class: 'btn btn-primary float-right mb-md-2'

  - if local_assigns[:edit_flag].present?
    %P
      - if current_user == post.user
        #{button_to "post delete", post_path, data: { confirm: "Are you sure?" }, method: :delete}

%script
  const mde = new SimpleMDE({
  element: document.getElementById("simplemde")
  });