%h1.post_title
  = @post.title
= display_user_avatar(@post.user, 55, 55)
.auther
  = link_to @post.user.name, user_url(@post.user)
- if current_user == @post.user
  .btn
    = link_to "編集", edit_post_path(@post)

= render 'likes/like', post: @post, like: @like

.post_content  
  %p.date
    = l(@post.created_at, format: :long)
  = markdown_to_html(@post.content)
  


- if current_user 
  = form_for [@post, @comment] do |f|
    = f.label :content
    = f.text_area :content, class: 'form-control', rows: 5

    = f.submit 'submit',  class: 'btn btn-primary'

= render @comments