!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TouchApp
    = render 'layouts/rails_default'

    %link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    %script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")

  %body
    #wrapper
      = render 'layouts/header'
      .container.text-center
        - flash.each do |message_type, message|
          = content_tag(:div, message, class: "alert alert-#{message_type}")
      = yield
      = render 'layouts/footer'

%script
  $(function(){
  setTimeout("$('.alert').fadeOut('slow')", 3000)
  })